<% extends skins/base.html %>

<% subskin head %>
<script type="text/javascript" src="<% href /static/org/cometd.js %>"></script>
<script type="text/javascript" src="<% href /static/jquery/jquery-1.3.2.js %>"></script>
<script type="text/javascript" src="<% href /static/jquery/jquery.json-2.2.js %>"></script>
<script type="text/javascript" src="<% href /static/jquery/jquery.cometd.js %>"></script>
<script type="text/javascript" src="<% href /static/app.js %>"></script>
<style type="text/css">
    p.utterance {
        margin: 0;
    }
    span.is_action {
        font-style: italic;
    }
</style>

<% subskin content %>
<p>Logs for the <a href="irc://irc.freenode.net/ringojs">RingoJS IRC channel</a>, as logged by <a href="http://github.com/earl/ringobot"><code>ringostarr</code></a>.</p>

<h1><% day %></h1>
<% records %>

<% subskin menu %>
<% days %>
