<% extends skins/base.html %>

<% subskin head %>
<style type="text/css">
    p.utterance {
        margin: 0;
    }
    span.is_action {
        font-style: italic;
    }
</style>

<% subskin content %>
<p>Logs for the <a href="irc://irc.freenode.net/ringojs">RingoJS IRC channel</a>, as logged by <a href="http://github.com/earl/ringobot"><code>ringostarr</code></a>.</p>

<h1><% day %></h1>
<% for record in <% records %> render record %>

<% subskin record %>
<p class="utterance">
    <span class="time">[<% record.datetime | substring 11 16 %>]</span>
    <% if <% record.is_message %> render message_record %>
    <% if <% record.is_action %> render action_record %>
</p>

<% subskin message_record %>
<span class="is_message">
    <span class="sender">&lt;<% record.sender %>&gt;</span>
    <span class="message"><% record.message %></span>
</span>

<% subskin action_record %>
<span class="is_action">
    *
    <span class="sender"><% record.sender %></span>
    <span class="action"><% record.action %></span>
</span>

<% subskin menu %>
<div class="navigation">
    <h3>Log Archive</h3>
    <ul>
    <% for day in <% days %> render menuitem %>
    </ul>
</div>

<% subskin menuitem %>
<li><a href="<% day %>"><% day %></a></li>
