<% extends skins/base.html %>

<% subskin head %>
<script type="text/javascript" src="/static/org/cometd.js"></script>
<script type="text/javascript" src="/static/jquery/jquery-1.3.2.js"></script>
<script type="text/javascript" src="/static/jquery/jquery.json-2.2.js"></script>
<script type="text/javascript" src="/static/jquery/jquery.cometd.js"></script>
<script type="text/javascript">

$(document).ready(function() {

    var connected, subscription;

    function receive(msg) {
        var atBottom = $(document).height() - $(window).scrollTop() == $(window).height();
        // FIXME we want ringo skins on the client
        var p = '<p class="utterance">\
            <span class="time">[' + msg.data.datetime.substring(11, 16) + ']</span>\
            <span class="is_message">\
               <span class="sender">&lt;' + msg.data.sender + '&gt;</span>\
               <span class="message">' + msg.data.message + '</span>\
            </span></p>';
        var elem = $('div#content').append(p);
        // scroll to new element if we're at the bottom of the page
        if (atBottom) {
            $('html, body').animate({scrollTop: $(window).scrollTop() + 50});
        }
    }

    $.cometd.configure({
        url: location.protocol + "//" + location.host + "/cometd",
        logLevel: 'warn'
    });

    $.cometd.addListener('/meta/connect', function(msg) {
        if (!connected && msg.successful) {
            connected = true;
            $.cometd.batch(function() {
                /* if (subscription) {
                    $.cometd.unsubscribe('/irc');
                } */
                subscription = $.cometd.subscribe('/irc', receive);
            });
        } else if (!msg.successful) {
            connected = false;
        }
    });

    $.cometd.handshake();
});

</script>
<style type="text/css">
    p.utterance {
        margin: 0;
    }
    span.is_action {
        font-style: italic;
    }
</style>

<% subskin content %>
<p>Logs for the <a href="irc://irc.freenode.net/ringojs">RingoJS IRC channel</a>, as logged by <a href="http://github.com/earl/ringobot"><code>ringostarr</code></a>.</p>

<h1><% day %></h1>
<% for record in <% records %> render record %>

<% subskin record %>
<p class="utterance">
    <span class="time">[<% record.datetime | substring 11 16 %>]</span>
    <% if <% record.is_message %> render message_record %>
    <% if <% record.is_action %> render action_record %>
</p>

<% subskin message_record %>
<span class="is_message">
    <span class="sender">&lt;<% record.sender %>&gt;</span>
    <span class="message"><% record.message %></span>
</span>

<% subskin action_record %>
<span class="is_action">
    *
    <span class="sender"><% record.sender %></span>
    <span class="action"><% record.action %></span>
</span>

<% subskin menu %>
<div class="navigation">
    <h3>Log Archive</h3>
    <ul>
    <% for day in <% days %> render menuitem %>
    </ul>
</div>

<% subskin menuitem %>
<li><a href="<% day %>"><% day %></a></li>
