body {
    font-family: sans-serif;
    font-size: 83%;
    line-height: 168%;
}

h1 {
    font-size: 120%;
}

h3 {
    font-size: 100%;
}

#content {
    float: left;
    width: 530px;
    margin: 2em;
}

#menu {
    float: left;
    margin: 2em;
}
